<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Petstore API Test Suite" verbose="1" parallel="methods" thread-count="4">
    <test name="Pet API Tests">
        <classes>
            <class name="com.github.artbi.api.template.tests.PetApiTest"/>
        </classes>
    </test>
</suite>